.login_h5,
.login_wx {
    padding: 0 60px;
    overflow: hidden;
    position: relative;
    .logo {
        display: block;
        width: 336px;
        height: 156px;
    }
    .login_title {
        display: block;
        font-size: 36px;
        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
        font-weight: 500;
        text-align: left;
        color: #202224;
        line-height: 40px;
        margin-top: 32px;
        margin-bottom: 16px;
    }
    .login_tips {
        display: block;
        margin-bottom: 60px;
        font-size: 20px;
        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
        font-weight: 400;
        text-align: left;
        color: #a3aab7;
    }
    .login_input {
        width: 100%;
    }
    .login_submit_active {
        background: #e02021;
        font-size: 30px;
        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
    }
    .wx_password_login {
        margin-top: 40px;
        font-size: 28px;
        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
        font-weight: 400;
        text-align: right;
        color: #202224;
        line-height: 40px;
    }
    .wx_password_login_enter {
        display: inline-block;
    }
    .other_methods {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .bottom_enter {
            @extend .wx_password_login;
            margin-top: 0;
        }
    }
    @mixin at_bottom {
        width: 750px;
        text-align: center;
        display: block;
        position: absolute;
        left: 0;
        bottom: 60px;
        bottom: calc(constant(safe-area-inset-bottom) + 60px); /*兼容 IOS<11.2*/
        bottom: calc(env(safe-area-inset-bottom) + 60px); /*兼容 IOS>11.2*/
    }

    .agreement_at_bottom {
        @include at_bottom;
        font-size: 24px;
        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
        font-weight: 400;
        color: #a8b0bf;
        line-height: 34px;
        .agreement_enter {
            color: #2d3340;
            display: inline-block;
        }
    }

    .register_at_bottom {
        @include at_bottom;
        font-size: 28px;
        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
        font-weight: 400;
        color: #202224;
        line-height: 40px;
    }
}
